*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family:sans-serif;
}
body{
  background-color:#000 ;
  display: flex;
}

.container{
  width: 90px;
  min-height: 100vh;
  background-color: #fff5;
  padding: 20px;
  /* position: fixed; */
  overflow: hidden;
  transition: .5s;
}
@media (max-width: 600px) {
    .container:hover .p-dashboard{ 
      margin-left: -37px !important;
    }
}
.container:hover{
  width: 370px;
}
.user{
  display: flex;
  align-items: center;
  gap: 50px;
}
.user h2{
  margin-top: 20px;
  
}
.user img{
  border-radius: 50%;
  margin-left: -10px;
  flex-shrink: 0;
}
.menu{
  list-style: none;
  height: 90%;
  position: relative;
  text-align: center;
}
ul li{
    display: block;
    font-size: 30px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 3px;
    transition: 0.5s;
}
ul li:hover , .active{
   background-color: #ffffff55;
   border-radius: 10px;
}
 
ul li a{
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 45px;
   width: 100%; 
}
ul li a i{
  font-size: 35px;
  
}
.log-out{
  position: absolute;
  width: 100%;
  background-color: #a00;
  border-radius: 10px;
  margin-top: 150px;
}

 .container-dash{
  margin: 10px;
  width: 100%;
}
.title-info{
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-info i{
  font-size: 22px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.content-info p{
  font-size: 22px;
  margin-bottom: 5px;
}
.content-info span{
  font-size: 33px;
}
.list1{
  background-color: #004;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 200px;
  flex-grow: 1;
  height: 200px;
  font-size: 35px;
  border-radius: 10px;
  transition: .5s;
  flex-wrap: wrap;
}
.list1:hover{
  background-color: #ffffff55;
}
.title-info2{
  margin-top: 15px;
}
table{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  height: 500px;
  border-spacing: 10px;
  
}
table thead tr td{
  background-color: #2037e7;
  padding: 14px ;
   height: 70px;
   border-radius: 10px;
   transition: .5s;
}
table tbody tr td{
  padding: 10px 0;
  margin: 10px;
  background-color: #fff5;
  height: 50px;
  border-radius: 7px;
  transition: .5s;
}
tr ,td:hover{
  background-color: #123;
} 
.price{
  background-color: green;
  padding: 7px;
  border-radius: 10px;
}
.count{
  background-color: red;
  padding: 7px;
  border-radius: 10px;
}
.all{
  background-color: #1e293b;
  width: 100%;
} 
.header{
  background-color: #ffffff;
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header button{
  background-color: #3b82f6;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: .2s;
}
.header button:hover{
  background-color: #2563eb;
}
.header h2{
   color: #1e293b;
}
.filters select , option{
  color: #000;
}
.search-name{
  color: #000;
  margin: 40px 15px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
}
.btn-search{
  background-color: #063888;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: .2s;
}
.btn-search:hover{
  background-color: #0d5fe2;
}


.all-products{
  padding: 20px;
  background-color: #090909;
  color: #0F172A;
  width: 100%;
}
.header-product{
  background-color: #669aef;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.header-product h2{
  color: #10204d;
  font-size: 35px;
}
.search-product{
  color: black;
  width: 250px;
  padding: 10px;
  border-radius: 7px;
}
.products {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 30px;
  margin-top: 30px;
}


/* Tablet */
@media (max-width: 800px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 560px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}

.product{
  /* width: 200px; */
  padding: 5px;
  background: #1e1e1e;
  text-align: center;
  border-radius: 15px;
  transition: .5s;
}
.product:hover{
  background-color: #004;
  transform: scale(1.06);
}
.product p{
  margin: 10px;
  font-size: 22px;
}
.img-box{
  width:90%;
  max-height: 600px;
  padding: 5px;
  margin: auto;
}
.img-box img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
  border-radius: 8px;
}

.info-product{
  /* background-color: #000; */
  padding: 10px;
}
/* /////////////////////////////// */
.charts-page {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  background: #0d1117;
  color: white;
}

/* MAIN TITLES */
.main-title {
  font-size: 34px;
  margin-bottom: 10px;
}

.sub-title {
  color: #c9c9c9;
  margin-bottom: 35px;
  font-size: 16px;
}

/* GRID WIDE AND BIG */
.charts-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 35px;
  
}
@media (max-width: 600px) {
  .charts-grid{flex-direction: column;}
}
/* CARD DESIGN */
.chart-card {
  background: #161b22;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #30363d;
  min-height: 330px;
}

/* TITLES */
.chart-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.chart-desc {
  font-size: 14px;
  color: #b8b8b8;
  margin-bottom: 20px;
}

/* BAR CHART */
.bars {
  display: flex;
  gap: 15px;
  height: 200px;
  margin-top: 10px;
  align-items: flex-end;
}

.bar {
  width: 30px;
  background: #4F8CF7;
  border-radius: 6px;
  transition: 0.3s;
}

.bar:hover {
  transform: scaleY(1.15);
  background: #77a9ff;
}

/* CIRCLE CHART */
.circle-container {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
}

.percent {
  position: absolute;
  top: 65px;
  left: 70px;
  font-size: 26px;
  font-weight: bold;
}
/* Lists Section */
.lists-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* List Card */
.list-card {
  background: #161b22;
  padding: 22px;
  border-radius: 14px;
  border: 1px solid #30363d;
  min-height: 230px;
}

.list-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.list-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-card li {
  padding: 10px 0;
  border-bottom: 1px solid #2a2f36;
  font-size: 15px;
  color: #d2d2d2;
}

.list-card li:last-child {
  border-bottom: none;
}

.list-card li:hover {
  color: white;
  cursor: pointer;
}


/* ////////////////////////////////////// */

.posts-page {
  width: 100%;
  padding: 20px;
 
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.add-post {
  background: #2563eb;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.posts-table-box {
  margin-top: 25px;
  overflow-x: auto;
}

.posts-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.posts-table th,
.posts-table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.posts-table th {
  background: #f1f5f9;
  color: #000;
  font-weight: 600;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.published {
  background: #dcfce7;
  color: #166534;
}

.draft {
  background: #fef9c3;
  color: #92400e;
}

.pending {
  background: #fee2e2;
  color: #991b1b;
}
/* //////////////////////////////////////////// */

/* الوضع العادي */
/* ===== Settings Page ===== */

.settings-page {
  padding: 30px;
  width: 100%;
}

/* Header */
.settings-header {
  margin-bottom: 30px;
}

.settings-header h2 {
  font-size: 32px;
  margin-bottom: 5px;
}

.settings-header p {
  color: #6b7280;
  font-size: 15px;
}

/* Grid */
.settings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

/* Box */
.settings-box {
  background: #111827;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #1f2933;
}

/* Titles */
.settings-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Input Groups */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 6px;
}
.toggle-item .switch .slider:focus{
  background-color: #fff;
  color: #000;
}
.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2f3843;
  background-color: #0f172a;
  color: white;
  outline: none;
}

/* Button */
.settings-btn {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.settings-btn:hover {
  background: #2563eb;
}

/* Toggles */
.toggle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  font-size: 15px;
}

/* Switch Style */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #374151;
  border-radius: 25px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #3b82f6;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Responsive */
@media (max-width: 768px) {
  .settings-page {
    padding: 15px;
  }

  .settings-header h2 {
    font-size: 24px;
  }
}


/* //////////////////////////////////////// */
.signup-page{
   width: 100%;
    background:linear-gradient(90deg, rgba(42, 27, 255, 0.8), rgba(255, 0, 68, 0.6));
    padding-left: 100px;
}

.form h2{
  font-size: 65px;
  margin:150px 220px 50px 0;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
.form input{
  border: none;
  margin: 10px;
  width: 650px;
  height: 100px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255,0.2);
  color: #ffffff;
  padding: 5px;
  font-size: 23px;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .form input{width: 400px;}
  .form textarea{display: none;}
}
.form input::placeholder{
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}
.form div textarea{
  margin: 10px;
  width: 720px;
  height: 350px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255,0.2);
  padding: 5px;
  border: none;
  transition: 0.5s;
  font-size: 23px;
}
.form textarea::placeholder{
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}
.btn-form{
  display: block;
  border: none;
  margin: 26px 50px 0 50px;
  width: 180px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
}

.form .area:hover{
   background-color: black;
}
.form input:hover::placeholder{
   color: rgb(0, 0, 0);
   transition: 1s;
}
.form input:hover{
    color: #000;
   background-color: rgb(255, 255, 255);
   transition: 0.5s;
}
.form .area:hover::placeholder{
   color: rgb(0, 0, 0);
   transition: 1s;
}
.form .area:hover{
   background-color: rgb(255, 255, 255);
   transition: 0.5s;
}
.form .btn-form:hover{
   background-color: black;
  color: #fff;
  transition: 0.5s;
}
.form p{
  font-size: 22px;
  margin-top: 30px;
}
.form p a:hover{
  font-size: 23px;
  transition: 1s;
}
.sign-up{
  background-color: rgb(38, 38, 231);
  position: absolute;
  width: 100%;
  border-radius: 10px;
  margin-top: 150px;
}
.login-page{
      background:linear-gradient(90deg, rgba(51, 255, 0, 0.8), rgba(34, 0, 255, 0.6));

}

.form2{
  /* text-align: center; */
  width: 80%;
  margin:150px  auto;
  background-color: rgba(255, 255, 255,0.2);
  padding: 10px;
  border-radius: 20px;
  height: 750px;
}
.form2 h2{
  text-align: center;
  margin-top: 35px;
}
.form2 input{
  width: 90%
}